In [1]:
table = [lambda x=x: 2*x for x in range(1,11)]

for i in table:
  print(i())

2
4
6
8
10
12
14
16
18
20

In [2]:
list1=[1,2,3,4,5]
double =[lambda x = x :  x*x     for x in list1]
for i in double:
  print(i())

1
4
9
16
25

In [3]:
from functools import reduce
li =[5,6,7,8,9,10,11]
sum = reduce(lambda x,y:x+y,li)
sum

56

In [4]:
from functools import reduce
li =[5,6,7,8,9,10,11]
max = reduce(lambda x,y:x if x>y else y,li)
max

11

In [5]:
str1 = ['dog','cat']
list(map(lambda x: x.upper(),str1))

['DOG', 'CAT']